.chooser{
    background-color: cyan;
   margin-top: 10%;
   margin-left:30%;
   width: 550px;
   height: 100px;
}
.choose_user {
    width: 250px;
    height: 100px;
    display: inline-flex;
    text-decoration: none;
   
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #1883ba;
    border-radius: 30px;
    border: 2px solid #0016b0;
    justify-content: center;
    
}

.choose_user:hover{
    color: #1883ba;
    background-color: #ffffff;
  }

.choose_user h1{
    line-height: 100px;
    margin-top: 0;
    display: inline;

}
